#{

    margin: 0;
    padding: 0;
}
nav{
   /*  background-color: red; */
   display: grid;
   grid-template: "logo-principal menu-principal empty"
                    "logo-principal    div-busqueda empty"/
                    4fr                 8fr           2fr;
}
.logo-principal{
    grid-area: logo-principal;
    width: 200px;
    margin-top: 30px;
    margin-left: 20px;
}
.menu-orizontal{
    grid-area: menu-principal;
   /*  background-color: antiquewhite; */
    text-align: right;
    margin-right: 300px;
    width: 100%;
}
.div-busqueda{
    grid-area: div-busqueda;
}
li{
    display: inline-block;
    background-color: rgb(238 174 64);
    font-size: 1.6em;
    padding: 20px;
    margin: 20px;
    border-radius: 40px;
}
a{
    color: black;
    font-weight: 900;
    text-decoration: 0;
}
.icono-lupa-styles{
    width: 20px;
    color: black;
}
.input-busqueda-styles{
    margin: 10px 20px;
    width: 100%;
    height: 30px;
    background-color: blue;

}

.main-title{
    width: 100%;
    height: 120px;
    background-color: rgb(217 117 65);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
.p{
    color: white;
    text-align: center;
    font-size: 2em;
    padding: 30px;
}
.main-content{
    display: grid;
    height: 500px;
    grid-template: "productos-dia mas-vendido"/
                        2fr             1fr;
}
.productos-dia{
    grid-area: productos-dia;
    background-color: aqua;
    width: 80%;
    height: 400px;
    margin: 0 20px 30px 60px;
    display: grid;
    grid-template:"lulo yuca bulto"/
                   1fr   1fr  1fr;
}
.lulo{
    grid-area: lulo;
    background-color: blue;
    width: 80%;
    margin: 15px;
}
.img-lulo{
    width: 80%;
    margin: 15px; 
}
.yuca{
    grid-area: yuca;
    background-color: blue;
    width: 80%;
    margin: 15px;
}
.img-yuca{
    width: 80%;
    margin: 15px
}
.bulto{
    grid-area: bulto;
    background-color: blue;
    width: 80%;
    margin: 15px;
}
.img-bulto{
    width: 80%;
    margin: 15px;
}
.mas-vendido{
    grid-area: mas-vendido;
    background-color: blueviolet;
    width: 80%;
    height: 500px;
    margin: 0 60px 30px 20px;
}
.img-platano{
    width: 80%;
    height: 300px;
    margin: 0 60px 30px 20px;
    border-radius: 30px;
}
.menu-barra{
    position: fixed;
    visibility: hidden;
    width: 40px;
}
@media only screen and (max-width:1000px){
    .menu-barra{
        visibility: visible;
        position: fixed;
        width: 80px;
        right: 80px;
        top: 25px;
        
    }
    .menu-vertical-oculto{
        margin-top:70px;
        background-color: aliceblue;
    }
    .menu-vertical-oculto > li {
        background-color: rgb(238 174 64);
        display: block;
        display: none;
        padding: 0px;
        border-radius: 0;
        margin-bottom: 0;
        margin-top: 0;
        margin-bottom: 1px solid rgb(48, 48, 48,.8);
        text-align: center;
    }
    .menu-vertica{
        background-color: rgb(238 174 64);
        display: block;
        padding: 0px;
        border-radius: 0;
        margin-bottom: 0;
        margin-top: 0;
        margin-bottom: 1px solid rgb(48, 48, 48,.8);
        text-align: center; 
    }
    .menu-vertical-oculto{
        height: 70px;
        /* background-color: red; */
    }
    .menu-vertica-oculto {
        display: none;
    }
    .icono-lupa-styles{
        display: none;
    }
    .input-busqueda-styles{
        display: none;
    }
    .main-title{

    }
}